.app
  .input
    .input__container
      .input__field 
        input(type="text", value='{input}', onChange='{onInputChange}')
      .input__show_area
  .canvas
    canvas(ref='{canvas}' height='{canvasSize.h}' width='{canvasSize.w}')