.info
  position: fixed
  top: 0
  right: 0

  box-sizing: border-box
  width: 100vw
  height: 100vh
  padding: 12px
  
  display: flex
  align-items: center
  justify-content: center

  &__button
    position: fixed
    top: 0
    right: 0

    height: 50px
    width: 50px
    margin: 12px
    
    background-color: white
    border: 1px solid #333
    border-radius: 50%
    
    font-weight: bold
    font-size: 30px
  
  &__body
    padding: 12px
    background-color: white
    border: 1px solid #333
    border-radius: 8px

  &__categories
    display: grid
    grid-template-columns: 1fr 1fr
    grid-gap: 8px

  &__list
    margin: 8px
    padding-left: 4px
    list-style: none
    
